body {
    margin: 0;
    background: #ab88ff;
}

header {
    background: #ab88ff;
    width: 100%;
    height: 80px;
}

header img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

